.border {
  border: 1px solid red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 500px;
  margin: 0;
  background: url('/img/kids-eating2.jpg') #4c4c4c;
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}
@media (min-width: 1000px) {
  body {
    background: url('/img/kids-eating2.jpg') #4c4c4c;
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
         the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
         on the container's size */
    background-size: cover;
  }
}
html {
  font-size: 62.5%;
  color: #fefff2;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(194, 9, 89, 0.87);
  color: white;
  font-weight: 700px;
  text-align: center;
}
.menu-container {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #4c4c4c;
  background-color: rgba(249, 159, 63, 0.945);
}
@media (min-width: 1000px) {
  .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(249, 159, 63, 0.945);
  }
}
.menu-container .h1header {
  width: 100%;
}
@media (min-width: 1000px) {
  .menu-container .h1header {
    width: 100%;
    text-align: center;
  }
}
.menu-container .dropmenu-btn {
  width: 100%;
  text-align: center;
}
@media (min-width: 1000px) {
  .dropmenu {
    margin: 25px 0 -4px 0;
  }
}
.dropmenu .dropmenu-btn {
  padding: 15px;
  border: 3px solid rgba(194, 9, 89, 0.87);
  width: 100%;
  background-color: rgba(194, 9, 89, 0.87);
  color: #fefff2;
  border-radius: 10px;
  padding: 20px 0px;
  font-size: 1.5rem;
  border: none;
}
.dropmenu .dropmenu-btn:hover {
  background-color: #fefff2;
  color: rgba(194, 9, 89, 0.87);
  border: 1px solid red;
}
@media (min-width: 1000px) {
  .dropmenu .dropmenu-btn {
    display: none;
  }
}
.dropmenu .dropmenu-content {
  width: 100%;
  background-color: #fefff2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
@media (min-width: 1000px) {
  .dropmenu .dropmenu-content {
    width: 100%;
    position: fixed;
    left: 0;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(194, 9, 89, 0.87);
    padding: 10px 0;
  }
}
.dropmenu .menu-links {
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgba(194, 9, 89, 0.87);
}
@media (min-width: 1000px) {
  .dropmenu .menu-links {
    width: 100%;
    margin: 0 50px;
    padding: 6px 39px;
    font-weight: 700;
    color: #fefff2;
    text-align: center;
    border-radius: 5px;
  }
}
.dropmenu .dropmenu-hidden {
  display: none;
}
@media (min-width: 1000px) {
  .dropmenu .dropmenu-hidden {
    display: initial;
  }
}
.middle h2 {
  margin: 100px 20px;
  font-size: 2rem;
  text-align: center;
}
.middle p {
  margin: 20px;
}
.middle-paragraphs {
  width: 100%;
}
@media (min-width: 1000px) {
  .middle-paragraphs {
    width: 100%;
    display: flex;
  }
}
.middle-paragraphs .middle-paragraph {
  background-color: rgba(194, 9, 89, 0.87);
  padding: 50px 20px;
  margin: 50px 50px;
  color: #fefff2;
  border-radius: 20px;
}
@media (min-width: 1000px) {
  .middle-paragraphs .middle-paragraph {
    width: 100%;
  }
}
.signup {
  text-align: center;
  margin: 10px;
}
.signup h2 {
  margin: 25px;
  padding: 20px;
  font-size: 2rem;
}
.signup button {
  width: 30%;
  background-color: rgba(194, 9, 89, 0.87);
  color: #fefff2;
  border-radius: 10px;
  padding: 20px 0px;
  font-size: 1.5rem;
  border: none;
  margin: 20px auto;
}
