.border {
  border: 1px solid red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #4c4c4c;
  background: #fefff2;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.container {
  min-width: 480px;
  margin: 0 auto;
  width: 100%;
}
footer {
  text-align: center;
}
.nav-header {
  background-color: #f9a03f;
  color: #4c4c4c;
  min-width: 300px;
  width: 100%;
  padding: 10px 2px;
}
.nav-header h1 {
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.nav-header p {
  padding: 0 30px;
}
.nav-header .nav {
  width: 100%;
  padding: 20px 0;
}
.nav-header .nav a {
  font-size: 1.5rem;
  color: #fefff2;
  text-decoration: none;
  margin: 0 5px;
  padding: 20px 0;
}
nav {
  display: flex;
  flex-wrap: nowrap;
}
.forms {
  min-width: 300px;
  width: 100%;
}
.forms .register {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.forms img {
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
  display: block;
}
.register {
  border: 1px solid red;
  width: 100%;
  text-align: left;
  display: flex;
}
.register h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.register input {
  margin-bottom: 30px;
}
