.border {
  border: 1px solid red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #4c4c4c;
  background: #fefff2;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.forms {
  min-width: 500px;
  margin: 0 auto;
  width: 100%;
}
footer {
  margin: 50px auto;
  text-align: center;
}
.nav-container {
  min-width: 500px;
  width: 100%;
}
@media (min-width: 1000px) {
  .nav-container {
    width: 100%;
  }
}
.nav-container .nav-header {
  min-width: 500px;
  background-color: #f9a03f;
  color: #4c4c4c;
  width: 100%;
  padding: 5px 2px;
}
@media (min-width: 1000px) {
  .nav-container .nav-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
  }
}
.nav-container .nav-header h1 {
  margin: 10px;
  text-align: center;
  padding-top: 10px;
}
@media (min-width: 1000px) {
  .nav-container .nav-header h1 {
    font-size: 4rem;
    text-align: left;
    margin: 20px 50px;
    padding: 20px;
  }
}
.nav-container .nav-header .nav {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
@media (min-width: 1000px) {
}
.nav-container .nav-header .nav a {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: #fefff2;
  text-decoration: none;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  background-color: #c2095a;
  border-radius: 20px;
  width: 80%;
}
@media (min-width: 1000px) {
  .nav-container .nav-header .nav a {
    width: 100%;
    padding: 20px 0;
  }
}
.registers {
  min-width: 500px;
  width: 100%;
  margin: 10px auto;
  border-top: 2px solid #c2095a;
}
.registers .register .btn {
  display: flex;
}
.registers .register .btn button {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  width: 80%;
  background-color: #c2095a;
  color: #fefff2;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  margin: 10px auto;
}
img {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  display: block;
}
h1 {
  margin: 20px 0;
  font-size: 2.5rem;
}
input {
  margin-bottom: 30px;
}
.register-top-border {
  border-top: 2px solid #c2095a;
  width: 100%;
  margin: 0 auto 10px auto;
}
.form-input form input {
  padding: 10px;
  border: none;
  width: 100%;
  border: 1px solid red;
  border-radius: 10px;
  background-color: #fefff2;
}
.form-input form .btn {
  display: flex;
}
.form-input form .btn button {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  width: 80%;
  background-color: #c2095a;
  color: #fefff2;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  margin: 10px auto;
}
