.social {
    h2 {
        width: 100%;
        margin: 150px 0 0 0;
        text-align: center;
        background-color: @blue-color;
        font-size: 3rem;
        padding: 15px;
        border-radius: 10px;
    }

}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    .facebook {
        margin: 50px;
        width: 100px;
        height: 100px;
    }
}

.apps {
    h2 {
        width: 100%;
        background: @blue-color;
        border-radius: 10px;
        text-align: center;
        font-weight: 500;
        padding: 15px;
        font-size: 3rem;
    }
}

.app-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    .download {
        width: 100%;
        margin: 50px auto;

    }
}