.dropmenu {
    // z-index: 2;
    position: absolute;
    left: 20px;
    
    .dropmenu-btn {
        padding: 15px;
        border: 2px solid @blue;
        color: @red-color;
    }
}

.dropmenu-content {
    width: 100%;
    position: absolute;
}

