* {
    .box-sizing();
}

html {
    font-size: 62.5%;
    color: @font-color;
    background: @background-color;
//     @media @desktop {
//         font-size: 62.5%;
//     }
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.forms {
    min-width: 500px;
    margin: 0 auto;
    width: 100%;

}


footer {
    margin: 50px auto;
    text-align: center;
}