* {
    .box-sizing();
}

body {
    min-width: 500px;
    width: 100%;
    margin: 0;
}

html, {
    font-size: 62.5%;
    color: @font-color;
    // background-image: url("../img/hands-together.jpg");
    // background-size: 500px;
    // background-repeat: no-repeat;
    // opacity: 0.9;

}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

// .forms {
//     min-width: 500px;
//     margin: 0 auto;
//     width: 100%;

// }


footer {
    margin: 50px auto;
    text-align: center;
    width: 100%;
}