.home {
    // .min-view;
    // max-width: 600px;
    margin: 0 auto;

    @media @desktop {
        max-width: 1000px;
    }
}

// Content after Header

.middle {
    h2 {
        width: 90%;
        background-color: @headerbg-color;
        border-radius: 10px;
        margin: 100px auto 40px auto;
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        padding: 15px;

        @media @desktop {
            width: 100%;
            margin: 150px auto;
            text-align: center;
        }
    }
}

.mid-intro {

    @media @desktop {

    }

    .mid-intro-content {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        background-color: @red-color;
        padding: 20px 20px;
        color: @offwhite-color;
        border-radius: 20px;

        @media @desktop {
            width: 100%;
            text-align: center;
            margin: 20px auto;
            background-color: @red-color;
            padding: 20px 20px;
            color: @offwhite-color;
            border-radius: 20px;
        }


    }
}

.mid-intro-imgs {
    @media @desktop {
        display: flex;
        justify-content: center;

    }

    img {
        width: 350px;
        height: 350px;
        display: block;
        border-radius: 20px;
        margin: 50px auto;
        padding: 10px;
        border-radius: 50%;
    }

    @media @desktop {
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            padding: 10px;
            margin: 100px 20px 0px 20px;

        }


    }

    .banana {
        display: none;

        @media @desktop {
            display: initial;
        }
    }

    .apple {
        display: none;

        @media @desktop {
            display: initial;
        }
    }

}

// Styling for How It Works

.middle-paragraphs {

    width: 100%;

    @media @desktop {
        width: 100%;
        display: flex;
    }

    .middle-paragraph {
        text-align: center;
        margin: 20px auto;
        background-color: @red-color;
        padding: 20px 20px;
        color: @offwhite-color;
        border-radius: 20px;

        @media @desktop {
            text-align: center;
            margin: 20px 50px;
            background-color: @red-color;
            padding: 20px 20px;
            color: @offwhite-color;
            border-radius: 20px;
        }
    }
}

// Signup and Donation buttons styling

.signup-options {
    text-align: center;
    margin: 10px 50px;

    @media @desktop {
        display: flex;
        justify-content: center;
    }

    h2 {
        background: @headerbg-color;
        border-radius: 10px;
        font-weight: 500;
        margin: 20px 100px;
        padding: 20px;
        font-size: 2rem;

        @media @desktop {}
    }

    button {
        .custom-btn(100%, @orange-color, @font-color, 1.5rem);
        margin: 20px auto;
        padding: 20px 5px;
        max-width: 200px;


        @media @desktop {
            .custom-btn(80%, @orange-color, @font-color, 1.7rem);
            margin: 20px 30px;
            padding: 20px 25px;
            font-weight: 700;
        }
    }

}