.middle {

    // background-color: @background-color;
    // width: 100%;
    h2 {
        margin: 100px 20px;
        font-size: 2rem;
        text-align: center;
    }

    p {
        margin: 20px;
    }
}

.middle-paragraphs {
    // display: flex;
    // flex-direction: column;
    width: 100%;

    @media @desktop {
        width: 100%;
        display: flex;
    }

    .middle-paragraph {
        // width: 100%;
        background-color: @red-color;
        padding: 50px 20px;
        margin: 50px 50px;
        color: @offwhite-color;
        border-radius: 20px;

        @media @desktop {
            width: 100%;
        }
    }
}

.signup {
    text-align: center;
    margin: 10px;
    h2 {
        margin: 25px;
        padding: 20px;
        font-size: 2rem;
    }
    button {
    .custom-btn(30%, @red-color, @offwhite-color, 1.5rem);
    margin: 20px auto;
    padding: 20px 5px;
    }
}
