.forms {
    display: flex;
    margin: 100px 200px;
    img {
        width: 500px;
        margin: 0 auto;
        display: block;
        align-self: center;
        
    }
    

}

.register {
        // .border;
        width: 100%;
        // margin: 50px 50px 50px auto;
        padding-left: 200px;
        text-align: left;
        // background-color: @red-color;
        h1 {
            margin-bottom: 20px;
            font-size: 2.5rem;
        }

        button {
            // margin-top: 20px;
            
        }
        input {
            margin-bottom: 30px;
        }
    }



