.login-form {
    background: rgba(254, 255, 242, 0.726);
    margin: 100px 50px;
    padding: 100px;
    // text-align: center;
    color: @dark-gray;

    @media @desktop {}

    label {}

    input {}
}

