.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border {
    border: 1px solid red;
}

.custom-btn (@width, @color, @font) {
	width: @width;
	background-color: @button-color;
	color: @color;
	border-radius: 20px;
	padding: 20px;
	font-size: @font;
	border: none;
}

// .border (@size, @type, @color) {
//     border: @size @type @color;
// }
