.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.custom-btn (@width, @bgColor, @fontColor, @fontSize) {
	width: @width;
	background-color: @bgColor;
	color: @fontColor;
	border-radius: 10px;
	padding: 11px;
	font-size: @fontSize;
	border: none;
}



.border {
    border: 1px solid red;
}
