.menu-container {
    // z-index: 1;
    // .border;
    position: fixed; 
    top: 0;
    width: 100%;
    // height: 500px; //extends the background image down
    margin: 0px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @dark-gray;
    background-color: @headerbg-color; // need to fix header from expanding when menu button toggles to show content
    // z-index: 1;
    // background: url('/img/kids-eating2.jpg');
    // /* Background image is centered vertically and horizontally at all times */
    // background-position: center center;

    // /* Background image doesn't tile */
    // background-repeat: no-repeat;

    // /* Background image is fixed in the viewport so that it doesn't move when 
    //      the content's height is greater than the image's height */
    // background-attachment: scroll;

    // /* This is what makes the background image rescale based
    //      on the container's size */
    // background-size: cover;

    // margin-top: 0px;
    @media @desktop {
        width: 100%;
        display: flex;
        flex-direction: column;
        // position: absolute;
        background: @headerbg-color;
    
    }

    .h1header {
        width: 100%;
        // height: 500px; //moves h1 to the top of the page
        // .border;
        @media @desktop {
            width: 100%;
            text-align: center;
        }
    }

    .dropmenu-btn {
        //added to navigation so flexbox would work better
        width: 100%;
        // height: 500px;
        text-align: center;
    }

}