// Need to find out how to get rid of excess margin to remove horizontal scroll bar


.nav-header {
    .border;
    min-width: 500px;
    background-color: @orange;
    color: @font-color;
    width: 100%;
    // padding: 5px 2px;

    @media @desktop {
        .border;
        display: flex;
        flex-wrap: nowrap;
        // flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        padding: 1px;
    }

    h1 {
        // margin: 10px;
        text-align: center;
        padding-top: 10px;
        // padding-bottom: 0px;
        @media @desktop {
            font-size: 4rem;
            text-align: left;
            margin: 20px 100px;
            padding: 20px;
        }
    }

    // p {
    //     padding: 0 30px;
    // }

    .nav {
        width: 100%;
        // padding: 10px;
        // margin: 0 auto;

        @media @desktop {
            // display: flex;
        }

        a {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            color: @offwhite;
            text-decoration: none;
            text-align: center;
            margin: 10px auto;
            padding: 20px;
            background-color: @red-color;
            border-radius: 20px;
            width: 80%;

            @media @desktop {
                display: flex;
                flex-direction: row-reverse ;
                // justify-content: flex;
                // flex-wrap: wrap;
                width: 100%;
                padding: 5px 0;
                margin: 10px auto;
            }

        }
    }
}
// }

// @media @desktop {

// }


// nav {
//     display: flex;
//     flex-wrap: nowrap;
//     // justify-content: center;
//     // background-color: @dark-gray;
// }