header .nav {
    // display: flex; 
    // flex-wrap: nowrap;
    padding: 10px 30px 15px 30px;
    // align-items: center;
    // justify-content: space-evenly;
    background-color: @orange;
    color: @font-color;
}

.nav {
    margin: 0 20px;
}

.nav h1 {
    margin: 10px;
    text-align: center;
    padding-top: 10px;
}

a {
    font-size: 1.5rem;
    color: @offwhite;
    text-decoration: none;
    margin: 0 20px;
    padding-top: 0px;
}

.nav p {
    margin: 0 50px;
    text-align: center;
    
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    // background-color: @dark-gray;
}