// Color pointers

@font-color: @dark-gray;
@button-color: @red-color;
@headerbg-color: @orange;
@background-color: @offwhite;

// Colors

@dark-gray: #4c4c4c;
@red-color: #c2095a;
@orange: #f9a03f;
@blue: #180aaf;
@offwhite: #fefff2;

// Desktop View

@desktop: ~"(max-width: 1200px)";