// Color pointers

@font-color: @offwhite-color;
@button-color: @red-color;
@headerbg-color: @orange-color;
@background-color: @offwhite-color;

// Colors in hex

// @dark-gray: #4c4c4c;
// @red-color: #c2095a;
// @orange-color: #f99f3f;
// @blue-color: #180aaf;
// @offwhite-color: #fefff2;

// Colors in rgba

@dark-gray: rgba(76, 76, 76, 1);
@red-color: rgba(194, 9, 89, 0.87);
@orange-color: rgba(249, 159, 63, 0.945);
@blue-color: rgba(24, 10, 175, 1);
@offwhite-color: rgba(254, 255, 242, 1);

// Desktop View

@desktop: ~"(min-width: 1000px)";